.list-content {
  margin-top: 10px;

  ul {
    padding-left: 25px;
  }

  li {
    list-style-type: none;
    cursor: pointer;

    img {
      margin-right: 5px;
      cursor: pointer;
      margin-top: -8px;
    }

    i.fa {
      margin-right: 5px;
      cursor: pointer;
      width: 8px;
    }
  }
}